{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      
    </div>
    
    <!-- Banner Ends Here -->

    


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ b.image.url }}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ b.cate.first }}</span>
                      <a href="#"><h4>{{ b.title }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ b.autor }}</a></li>
                        <li><a href="#">May 12, 2020</a></li>

                      </ul>
                      <p>{{ b.desc }}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">

                          </div>
                          <div class="col-6">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4">
           {% include "includes/sidebar.html" %}
        </div>
      </div>
    </section>

    
 {% endblock %}